* {
  box-sizing: border-box;
}

.classes-holds-everything {
  display: flex;
  flex-direction: column;
}

.classes-holds-class-info {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-evenly;
}

/* .classes-text-info{

} */

.classes-text-schedule{
    width: 20%;
}

.class-holds-class-img {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

.class-image {
    margin-top: 2.5rem;
  width: 100%;
  height: auto;
}
.classes-text-info {
  width: 50%;
}

.holds-register-form-button-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.indent-class-text {
  margin-left: 1rem;
}
