
*{
    box-sizing: border-box;
}

.hold-everything-navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 2.5rem;
}

.navbar-logo{
    width: 100px;
}

.holds-page-options{
    display: flex;
    justify-content: center;
}

.navbar-a-element{
    font-size: 1.3em;
    transition: all .4s ease-in-out;
    /* color: #fff; */
}
.navbar-a-element:hover{
    color: blue;
    /* font-size: 200%; */
    margin: 0;
    transform: scale(1.2);
    /* padding-bottom: .5rem; */
}

.holds-page-options-mobile{
    display: none;
}

/* ========================================== */
@media screen and (max-width: 670px) {
    .hold-everything-navbar{
        margin-top: .3rem;
        flex-direction: column;
    }
    .navbar-a-element{
        font-size: 1.1em;
    }
}

@media screen and (max-width: 450px) {
    .navbar-a-element{
        font-size: 1em;
    }
    /* .holds-page-options{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .holds-page-options .div-padding-1{
        padding: 0;
        margin: 0;
        margin: -.7rem 0 -.7rem 0;
    } */
}
